img {
    width: 100px;
    margin: auto;
}

#searching {
    margin-right: 10px;
}

#infos{
  height: 300px;
}

hr{
  font-weight: 2px;
}

button{
    margin: auto;
}

#description {
    margin: 10px 0px 10px 0px;
    padding-right: 20px;
}

#description p{
    text-align: justify;
    line-height: 18px;
    font-weight: 12px;
}