<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h5>Find A movie</h5>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <div id="imaginary_container">
          <div class="input-group stylish-input-group">
            <input type="search" class="form-control" placeholder="Search" [formControl]="searchControl">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of moviesList; let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
          <h5>Title: {{movie.title}}</h5>
          <p>Date: {{movie.release_date}}</p>
          <p>Popularity: {{movie.popularity}}</p>
        </div>
      </div>
    </div>
  </div>
</div>