<div *ngIf="isClose" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Movie Details</h3>
  </div>
  <div class="panel-body">
    <div id="moviedetails">
      <div class="row">
        <div class="col-md-3">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
          <h5><strong> {{movie.title}}</strong></h5>
          <p *ngIf="movie.release_Date"> <strong>Date:</strong> {{movie.release_date}}</p>
          <p *ngIf="movie.popularity"><strong>Popularity:</strong> {{movie.popularity}}</p>

        </div>
        <div id="description" class="col-md-9">
          <p *ngIf="movie.overview"><strong>Description:</strong> {{movie.overview}}</p>
          <div *ngIf="movie.production_companies.length">
            <p class="lineIt"> <strong> Produce By:</strong> </p>
            <span *ngFor="let company of movie.production_companies; let last = last;">
                <p class="lineIt" *ngIf="!last"> {{company.name}}, </p>
                <p class="lineIt" *ngIf= "last"> {{company.name}}. </p>
            </span>
          </div>
          <br />
          <div *ngIf="movie.production_countries.length">
            <p class="lineIt" *ngIf="movie.production_countries.length == 1"><strong>Production Country:</strong> </p>
            <p class="lineIt" *ngIf="movie.production_countries.length > 1"><strong> Production Countries:</strong> </p>
            <span *ngFor="let country of movie.production_countries; let last = last">
              <p class="lineIt" *ngIf="!last"> {{country.name}}, </p>
              <p class="lineIt" *ngIf= "last"> {{country.name}}. </p>
            </span>
          </div>
          <br />
          <p *ngIf="movie.homepage"><strong>Home page:</strong>
            <a href="{{movie.homepage}}" target="_blank">Movie's website link</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><a (click)="closeDetail()"><button class="btn btn-primary btn-margin"> Close </button></a></p>
        </div>
      </div>
    </div>
    <hr>
    <br>
  </div>
</div>

<app-searchmovies [childSearchResults]="parentSearchResults" (childSearchMovieId)= "viewMore($event)"></app-searchmovies>

<app-popular *ngIf="!isClose" (childPopularMovieId)= "viewMore($event)"></app-popular>

<app-intheater *ngIf="!isClose" (childTheaterMovieId)= "viewMore($event)" ></app-intheater>
